<h1>hello world</h1>
<!-- <h1>{{title}}</h1>
<h1>{{name}}</h1>
<h1>{{fistFun()}}</h1>
<h1>{{secondFun()}}</h1> -->
<!-- <table border="1">
    <tr >
        <td>id</td>
        <td>title</td>
        <td>user id</td>
    </tr>
    <tr *ngFor ='let item of data'>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
    </tr>

</table> -->
<!-- <app-login></app-login>
<app-sinup></app-sinup> -->
<!-- <h1 *ngIf="show=='yes'; then elseBox  ">
    this is fist ifCondtion
</h1> -->
<!-- <ng-templete #elseBox>
    <h1>the second IfElseCondtion</h1>
</ng-templete> -->
<!-- <h1 #elseBox>string else condtion check</h1> -->
<div [ngSwitch]="color">
    <h1 style="color: red;" *ngSwitchCase="'red'">hello red color</h1>
</div>
<h4 *ngFor="let item of data">{{item}}</h4>
<table border="1">
    <tr>
        <td>name</td>
        <td>age</td>
    </tr>
    <tr *ngFor="let itme1 of data1">
        <td>{{itme1.name}}</td>
        <td>{{itme1.age}}</td>
        <td>{{itme1.email}}</td>
        
        
    </tr>
</table>
